*.zip
*.pickle
*.model
*.log
*_scores.csv
.DS_Store
__pycache__/
results.log
learn.ipynb
Model/
logs/
Datasets
DataLoader
Utils
Models
datasets/datasets
.ipynb_checkpoints/
NOTES.md
parse_bias.py
plot_infinity.py
plots/
results.csv
